@import "tailwindcss";

@theme inline {
  --color-background: #F3F5F9;
  --color-foreground: #1A1C1E;
  --font-sans: var(--font-outfit), Arial, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}

/* Custom Scrollbar for Category Navigation */
.custom-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-premium {
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.05);
}

.rounded-4xl {
  border-radius: 2rem;
}
