@import "tailwindcss";

@theme inline {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
